In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("all_matches.csv")

D:\Currentl installed programs\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194354 entries, 0 to 194353
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                194354 non-null  int64
 1   season                  194354 non-null  object
 2   start_date              194354 non-null  object
 3   venue                   194354 non-null  object
 4   innings                 194354 non-null  int64
 5   ball                    194354 non-null  float64
 6   batting_team            194354 non-null  object
 7   bowling_team            194354 non-null  object
 8   striker                 194354 non-null  object
 9   non_striker             194354 non-null  object
 10  bowler                  194354 non-null  object
 11  runs_off_bat            194354 non-null  int64
 12  extras                  194354 non-null  int64
 13  wides                   5884 non-null    float64
 14  noballs                 774 non-null     float64
 15  byes                    511 non-null     float64
 16  legbyes                 3118 non-null    float64
 17  penalty                 2 non-null       float64
 18  wicket_type             9560 non-null    object
 19  player_dismissed        9560 non-null    object
 20  other_wicket_type       0 non-null       float64
 21  other_player_dismissed  0 non-null       float64
dtypes: float64(8), int64(4), object(10)
memory usage: 32.6+ MB

In [8]:
df['batting_team'].unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Chennai Super Kings', 'Kings XI Punjab', 'Rajasthan Royals',
       'Delhi Daredevils', 'Deccan Chargers', 'Mumbai Indians',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [18]:
df.query('batting_team == "Kolkata Knight Riders"' && 'ball =="1"'').batting_team.count()

SyntaxError: invalid syntax (<ipython-input-18-9197d3a05f89>, line 1)

In [15]:
df.loc[df.groupby('match_id')]

ValueError: Cannot index with multidimensional key